header {
    position: fixed;
    top: 0;
    left: 0; /* Certifique-se de que o rodapé comece da borda esquerda */
    right: 0;
    width: 100%;
    margin: 0; /* Margem zero para evitar espaçamento indesejado */
    padding: 0; /* Preenchimento zero para evitar espaçamento indesejado */
    height: 50px; /* Defina a altura do rodapé conforme necessário */
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center;
    line-height: 50px; /* Centralizar verticalmente o conteúdo do rodapé */
    font-size: large;
    font-family: Arial;
    opacity: 70%;
}

body {
    overflow-y: scroll; /* Isso permite a rolagem vertical */
    display: flex; /* Define o display como flex */
}

.container {
    display: flex; /* Define o display como flex */
}

.box {
    flex: 1; /* Distribui o espaço igualmente entre as divs */
}

.custom-font {
    font-family: "Arial", arial; /* Especifica a fonte personalizada */
}

.cantos-arredondados-hand {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    border-color: #4B0082;
    text-align: center; /* Centraliza horizontalmente */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background: linear-gradient(to right, red, #0074D9);
    color: white;
    padding: 10px 20px;
    transition: transform 0.3s; /* Adicione uma transição suave para o efeito de zoom */
}

    .cantos-arredondados-hand:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse passa por cima */
    }

.cantos-arredondados-alinhamento {
    border-radius: 0px; /* Valor do raio dos cantos arredondados */
    text-align: center; /* Centraliza horizontalmente */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
}

.cantos-arredondados-alinhamento-left {
    border-radius: 0px; /* Valor do raio dos cantos arredondados */
    text-align: left; 
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
}

.alinhamento-text-center {
    text-align: center; /* Centraliza horizontalmente */
}

.TextBox-Legenda {
    font-family: "Arial", arial; /* Especifica a fonte personalizada */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
}

.btn-Imprimir {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/imprimirMaior.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto; /* Ajuste o tamanho da imagem conforme necessário */
    transition: transform 0.3s; /* Adicione uma transição suave para o efeito de zoom */
}

    .btn-Imprimir:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse passa por cima */
    }

.btn-Confirmar {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto; /* Ajuste o tamanho da imagem conforme necessário */
}

.btn-Volta-Tela-Cadastro {
    width: 30px;
    height: 30px;
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/voltaTelaCadastro.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    background-color: #333;
    border: 1px solid #363636;
    color: #333;
    transition: transform 0.3s; /* Adicione uma transição suave para o efeito de zoom */
}

    .btn-Volta-Tela-Cadastro:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse passa por cima */
    }

.btn-Volta-Tela-Exames {
    width: 30px;
    height: 30px;
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/voltaTelaExames.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    background-color: #333;
    border: 1px solid #363636;
    color: #333;
    transition: transform 0.3s; /* Adicione uma transição suave para o efeito de zoom */
}

    .btn-Volta-Tela-Exames:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse passa por cima */
    }

.btn-Volta-Tela-Aplicativos {
    width: 30px;
    height: 30px;
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/voltaTelaAplicativos.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    background-color: #333;
    border: 1px solid #363636;
    color: #333;
    transition: transform 0.3s; /* Adicione uma transição suave para o efeito de zoom */
}

    .btn-Volta-Tela-Aplicativos:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse passa por cima */
    }

.btn-Encerra-Sistema {
    width: 30px;
    height: 30px;
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/iconeEncerraSistema.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    background-color: #333;
    border: 1px solid #363636;
    color: #333;
    transition: transform 0.3s; /* Adicione uma transição suave para o efeito de zoom */
}

    .btn-Encerra-Sistema:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse passa por cima */
    }

.btn-Edicao {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/editar.png');
    width: 100%;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto; /* Ajuste o tamanho da imagem conforme necessário */
    transition: transform 0.3s; /* Adicione uma transição suave para o efeito de zoom */
}

    .btn-Edicao:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse passa por cima */
    }

.btn-Salvar {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/salve2.png');
    width: 100%;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto; /* Ajuste o tamanho da imagem conforme necessário */
    transition: transform 0.3s; /* Adicione uma transição suave para o efeito de zoom */
}

    .btn-Salvar:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse passa por cima */
    }
