header {
    position: fixed;
    top: 0;
    left: 0; /* Certifique-se de que o rodapé comece da borda esquerda */
    width: 100%;
    margin: 0; /* Margem zero para evitar espaçamento indesejado */
    padding: 0; /* Preenchimento zero para evitar espaçamento indesejado */
    height: 50px; /* Defina a altura do rodapé conforme necessário */
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center;
    line-height: 50px; /* Centralizar verticalmente o conteúdo do rodapé */
    font-size: x-large;
    font-family: Arial;
    opacity: 70%;
}

body {
    display: flex; /* Define o display como flex */
    overflow-y: hidden; /* Isso ocultará a barra de rolagem vertical */
}

.custom-font {
    font-family: "Arial", arial; /* Especifica a fonte personalizada */
}

.alinhamento-text-center {
    text-align: center; /* Centraliza horizontalmente */
}

.cantos-arredondados-hand {
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
}

.cantos-arredondados-alinhamento {
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    text-align: center; /* Centraliza horizontalmente */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
}

.cantos-arredondados-alinhamento-imagem {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    text-align: right; /* Centraliza horizontalmente */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/Vai.png');
    background-repeat: no-repeat;
    background-position: left left;
    background-size: contain; /* Ajuste o tamanho da imagem conforme necessário */
}
