footer {
    position: fixed;
    bottom: 0;
    left: 0; /* Certifique-se de que o rodapé comece da borda esquerda */
    width: 100%;
    margin: 0; /* Margem zero para evitar espaçamento indesejado */
    padding: 0; /* Preenchimento zero para evitar espaçamento indesejado */
    height: 30px; /* Defina a altura do rodapé conforme necessário */
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center;
    line-height: 35px; /* Centralizar verticalmente o conteúdo do rodapé */
    font-size: small;
    font-family: Arial;
    opacity: 70%;
}

header {
    position: fixed;
    top: 0;
    left: 0; /* Certifique-se de que o rodapé comece da borda esquerda */
    right: 0;
    width: 100%;
    margin: 0; /* Margem zero para evitar espaçamento indesejado */
    padding: 0; /* Preenchimento zero para evitar espaçamento indesejado */
    height: 50px; /* Defina a altura do rodapé conforme necessário */
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center;
    line-height: 50px; /* Centralizar verticalmente o conteúdo do rodapé */
    font-size: x-large;
    font-family: Arial;
    opacity: 70%;
}

body {
    display: flex; /* Define o display como flex */
}

.custom-font {
    font-family: "Arial", arial; /* Especifica a fonte personalizada */
}

.cantos-arredondados-alinhamento {
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    text-align: left; /* Centraliza horizontalmente */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
}

.cantos-arredondados-alinhamento-center {
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    text-align: center; /* Centraliza horizontalmente */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
}

.painel-Botoes {
    background-color: #191f26;
    border: 1px solid #191f26;
    border-radius: 10px;
    opacity: 85%;
}

.btn-Agenda {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/agendamento.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* Ajuste o tamanho da imagem conforme necessário */
}

.btn-Prontuario {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/prontuario.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* Ajuste o tamanho da imagem conforme necessário */
}

.btn-Exames {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    border: 2px solid #191970;
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/Chart1.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* Ajuste o tamanho da imagem conforme necessário */
    transition: transform 0.3s; /* Adicione uma transição suave para o efeito de zoom */
}

    .btn-Exames:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse passa por cima */
    }

.btn-Conservacao-Auditiva {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/conservAudit.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* Ajuste o tamanho da imagem conforme necessário */
}

.btn-Recepcao {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/recepcao.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* Ajuste o tamanho da imagem conforme necessário */
}

.btn-Faturamento {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/calculator.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* Ajuste o tamanho da imagem conforme necessário */
}

.btn-Estoque {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/Estoque.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* Ajuste o tamanho da imagem conforme necessário */
}

.btn-Receituario {
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    border-radius: 10px; /* Valor do raio dos cantos arredondados */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/receituario.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* Ajuste o tamanho da imagem conforme necessário */
}

.btn-Encerra-Sistema {
    width: 40px;
    height: 40px;
    cursor: pointer; /* Altera o cursor para a forma de uma mão */
    line-height: normal; /* Redefine a altura da linha para evitar alinhamento vertical inadequado */
    background-image: url('/Images/iconeEncerraSistema.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    background-color: #333;
    border: 1px solid #363636;
    color: #333;
    transition: transform 0.3s; /* Adicione uma transição suave para o efeito de zoom */
}

    .btn-Encerra-Sistema:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse passa por cima */
    }
